/* src/Components/MessageHeader.css */

.message-header {
    height: 13.2%;
    padding: 1.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom:1px solid #E5E5EA;
  }

  .inner-msg-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92.9%;
    height: 52.9%;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    width: 35.9%;
    position: relative;
  }
  
  .profile-image {
    width: 55px;
    height: 55px;
    position: relative;
    margin-right: 5%;
    background-color: red;
    overflow: hidden;
    border-radius: 50%;
    
  }
  
  .profile-image img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height:100px;
    width: 100px;
  }
  
  .online-indicator {
    position: absolute;
    bottom: 0;
    left: 12%;
    width: 16px;
    height: 16px;
    background-color: #34C759;
    border: 2px solid white;
    border-radius: 50%;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .username {
    font-weight: bold;
  }
  
  .status {
    font-size: 0.85em;
    color: #888;
  }
  
  .search-icon svg {
    width: 32px;
    height: 32px;
  }
  